<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>구구단</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>구구단을 외자</h1>
    <p>출력하고자 하는 구구단을 입력하세요.</p>
    <form action="{{ url_for('mtable') }}" method="POST" novalidate="novalidate">
        <input type="text" name="no" placeholder="1 ~ 9 사이의 숫자 입력">
        <input type="submit" value="구구단 확인하기">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flash">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div>
        {% if number %}
        {% for i in range(1, 10) %}
        <h2>{{ number }} x {{ i }} = {{ number * i }}</h2>
        {% endfor %}
        {% endif %}
    </div>
</body>

</html>